@model AuditManagementPortalClientMVC.Models.User;

@{ ViewData["Title"] = "Login"; }

    <form method="post">
        <div class="wrapper">
            <img src="~/Images/login.jpg" id="login-img" class="img-fluid" />
            <h2 class="form-title">User Login</h2>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">UserName</label>
                <input class="form-control" asp-for="Name" id="exampleInputEmail1">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" onclick="Toggle()">
                <label class="form-check-label" for="exampleCheck1">Show password</label>
            </div>
            <div class="row justify-content-center">
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-success" />
                </div>
            </div>
            <div style="color:red; text-align:center;">@ViewBag.ErrorMessage</div>
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
